// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

// Partials.
@import 'partials/homepage';
@import 'partials/header';

html {
	font-size: 16px;
}

body {
	background-color: #fff;
}

.flc-prefsEditor-separatedPanel {
	z-index: 9999;
}