.navbar > .container {
  padding-left: 24px;
  padding-right: 24px;

  @media (min-width: 768px) {
    padding-left: (48px/16px)*1rem;
    padding-right: (48px/16px)*1rem;
  }
}

.container-fluid .navbar-header {
  margin-right: 0;
  margin-left: 0;
}

.navbar .logo {
	width: 174px;
  padding: 24px 0;
  margin: 0;
  transition: width .25s ease-in-out;

  svg {
    width: 174px;
    height: 58px;
    transition: all .25s ease-in-out;
  }

  .letter {
    transition: fill .25s ease-in-out;
  }

  @media (min-width: 992px) {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 240px;

    svg {
      width: 240px;
      height: 80px;
    }
  }

  &:hover {
    .letter {
      fill: #008145 !important;
    }
  }

	img {
		max-width: 100%;
	}
}

.navbar-toggle {
  margin-top: (32px/16px)*1rem;
  transition: margin-top .25s ease-in-out;
  margin-right: 0;
}

.navbar-default {
  border: none;
}

.navbar-default .navbar-brand {
	font-size: (28px/16px)*1rem;
  line-height: (32px/16px)*1rem;
  letter-spacing: -1px;
	color: #002957;
	font-weight: bold;

	&:hover {
		color: #008145;
	}

  @media (min-width: 768px) {
    font-size: (36px/16px)*1rem;
    line-height: (42px/16px)*1rem;
    transition: all .25s ease-in-out;
  }
}

.navbar-default .navbar-nav {
  transition: all .25s ease-in-out;

  li {
    a {
      font-size: (16px/16px)*1rem;
      color: #002957;
      padding-left: 24px;
      padding-right: 24px;
      font-weight: bold;

      @media (min-width: 768px) {
        padding-left: 12px;
        padding-right: 12px;
      }

      &:hover {
        color: #008145;  
      }
    }

    &.active > a,
    &.active > a:hover {
      color: #008145;
      background-color: #fff;
    }
  }

  @media (min-width: 768px) {
    float: right;
    margin-top: (16px/16px)*1rem;
  }

  @media (min-width: 992px) {
    margin-top: (28px/16px)*1rem;
  }
}

.region-navigation-collapsible {
  position: relative;

  .search-block-form {
    transition: top .25s ease-in-out;

    @media (min-width: 768px) {
      position: absolute;
      top: 35px;
      right: 0;
      width: 140px;
    }

    @media (min-width: 992px) {
      top: 47px;
    }

    @media (min-width: 1200px) {
      width: 240px;
    }

    .input-group {
      width: 100%;
    }

    .input-group .form-search {
      font-size: 16px;
      background-color: #f6f6f9;
      border: 0;
      box-shadow: none;
      border-radius: 0;
      width: 100%;
    }

    .input-group .input-group-btn {
      position: absolute;
      right: 34px;
      z-index: 10;

      .btn {
        padding-top: 7px;
        padding-bottom: 8px;
        background-color: #f6f6f9;
        color: #002957;
        border: none;
        border-radius: 0;
      }

      .btn:hover {
        color: #008145;
      }
    }
  }

  .search-block-form.expanded {
    @media (min-width: 768px) {
      width: 70%;
    }
  }

  #block-morphic-main-menu {
    @media (min-width: 768px) {
      margin-right: 162px;
    }

    @media (min-width: 1200px) {
      margin-right: 260px;
    }
  }
}

.navbar-default.minified {

  border-bottom: 1px solid #ccc;

  .navbar-toggle {
    margin-top: (32px/16px)*1rem;
  }

  .navbar-nav {
    margin-top: (16px/16px)*1rem;
  }
  
  .logo {
    width: 174px;

    svg {
      width: 174px;
      height: 58px;
    }
  }

  .search-block-form {
    @media (min-width: 768px) {
      top: 35px;
    }
  }
}