.path-frontpage {
	h1 {
		margin-bottom: 4rem;
		text-align: center;
	}

	.container.main-container {
		margin-top: 0 !important;
	}

	.node--type-page {
		display: none;
	}
}

.homepage-links {
	ul.homepage-links-list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		flex-wrap: wrap;

		@media (min-width: 480px) {
			justify-content: space-evenly;
		}

		@media (min-width: 992px) {
			flex-wrap: no-wrap;
			justify-content: space-between;
		}
	}

	ul.homepage-links-list > li {
		border: 1px solid #ccc;
		border-top: 5px solid #008145;
		box-sizing: border-box;
		margin-bottom: 2rem;
		cursor: pointer;

		@media (min-width: 480px) {
			width: 40%;
		}

		@media (min-width: 992px) {
			width: 22%;
		}

		&:hover {
			box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10);
			transition: .1s box-shadow ease-in-out;
		}
	}

	ul.homepage-links-list > li:first-child {
		margin-left: 0;
	}

	ul > li:last-child {
		margin-right: 0;
	}

	.homepage-link:hover {
		a {
			color: #fff;
			background-color: #008145;
			text-decoration: none;
		}
	}

	.homepage-link-content {
		padding: 1.5rem;
		font-size: (14px/16px)*1rem;
		text-align: center;
		color: #002957;
	}

	.homepage-link-content h3 {
		font-size: 1.1rem;
		font-weight: bold;
	}

	.homepage-link-content img {
		margin: 0 auto;
	}

	.homepage-page-link a {
		border-top: 1px solid #eee;
		font-weight: 500;
		font-size: (14px/16px)*1rem;
		display: block;
		color: #008145;
		padding: 1rem;
		text-align: center;
		text-transform: uppercase;

		&:after {
			content: ">";
			padding-left: 0.3rem;
		}   
	}
}

.block-content--type-hero-item {
	padding: 12rem 0 0 0;

	@media (min-width: 768px) {
		padding: 6rem 0;
	}

	@media (min-width: 992px) {
		padding: 9rem 0;
	}

	@media (min-width: 1200px) {
		margin-left: auto;
		margin-right: auto;
		width: 1170px;
	}

	margin-bottom: 4rem;
	position: relative;
}

.hero-block-content {
	background-color: rgba(0, 41, 87, .7);

	width: 100%;
	padding: 2rem;

	@media (min-width: 768px) {
		width: 50%;
		padding-left: 6rem;
	}

	@media (min-width: 992px) {
		width: 50%;
		padding-left: 10rem;
		padding-right: 6rem;
	}

	color: #fff;
	font-size: (20px/16px)*1rem;

	h1 {
		text-align: left;
		color: #fff;
		font-weight: 600;
		margin-bottom: 1rem;
		margin-top: 0;
		line-height: 1.4em;
	}
}